<tbody>
  <%= content_tag :tr, class: "media", id: "bookmark-#{bookmark.url}" do %>
    <td><%= link_to bookmark.url %></td>
  <% end %>
</tbody>
<!-- Same as blocitoff app/views/items/_item.html.erb -->
