<h1>Topics</h1>
<!-- <p>Find me in app/views/topics/show.html.erb</p> -->
<!-- <h3><%= @topic.title %></h3> -->

<!-- <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %> -->

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.title %></p>
  </div>
</div>

<!-- <%= params %> -->
